<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Wolkvox Viewer</title>
    <style>
      /*Header*/
      #header-tittle {
        text-align: center;
        padding-top: 15px;
        width: 100%;
        height: 45px;
        background-color: red;
        color: #f4f4f4;
      }

      #div-header-config {
        width: 100%;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 2px solid red;
        border-bottom: 2px solid red;
      }
    </style>
    <!-- sweetalert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>

  <body>
    <h2 id="header-tittle">Controlador de Wolkvox</h2>
    <!-- 🔹 CONTROLES -->
    <section id="controls">
      <form id="form">
        <div id="div-header-config">
          <!-- Acción -->
          <label>Operacion:</label>
          <select name="accion" id="accion">
            <option value="promass">Promass</option>
            <option value="starcredit">StartCredit</option>
          </select>

          <!-- Submit -->
          <button id="btn-submit" type="submit">Ejecutar</button>
        </div>
        <!-- 2. Contenedor y lienzo para la gráfica de pastel -->
        <div style="width: 400px; height: 400px; margin: auto">
          <canvas id="graficaPastelEstatus"></canvas>
        </div>
      </form>
    </section>

    <!-- 🔹 RESULTADOS -->
    <section id="results">
      <h3>Resultados</h3>
      <div id="resultado"></div>
    </section>

    <!-- 🔹 SCRIPTS -->
    <script>
      // =========================
      // GENERACION GRAFICAS BOT
      // =========================
      let miGraficaPastel = null;
      async function cargarPanel() {
        const response = await fetch("/panel-principal");
        const resultado = await response.json();

        const ctx = document
          .getElementById("graficaPastelEstatus")
          .getContext("2d");

        //   # Si la gráfica ya existía (por una consulta previa), la destruimos para evitar parpadeos
        if (miGraficaPastel) {
          miGraficaPastel.destroy();
        }

        //   # 4. Crear la estructura de Chart.js con los datos del endpoint
        miGraficaPastel = new Chart(ctx, {
          type: "pie", // Define que es una gráfica de pastel
          data: {
            labels: resultado.data.bot_etiquetas, // Recibe: ['ANSWER', 'NO-ANSWER']
            datasets: [
              {
                data: resultado.data.bot_porcentajes, // Recibe: [71.4, 28.6]
                backgroundColor: [
                  "#2ecc71", // Verde para ANSWER
                  "#e74c3c", // Rojo para NO-ANSWER
                  "#f1c40f", // Amarillo si hubiera BUSY
                  "#3498db", // Azul para otros
                ],
                borderWidth: 1,
              },
            ],
          },
          options: {
            // on click
            onClick: async (event, elements) => {
              if (elements.length > 0) {
                const index = elements[0].index;
                

                const label = resultado.data.bot_etiquetas[index];
                const valor = resultado.data.bot_porcentajes[index];

                console.log(label);
                console.log(valor);

                // Consulta backend
                const response = await fetch(`/ivr-status/${label}`);
                const data = await response.json();


                // Construir filas HTML
                let filas = "";

                data.forEach((registro) => {
                  filas += `
        <tr>
          <td>${registro.customer_id_x}</td>
          <td>${registro.customer_name}</td>
          <td>${registro.telephone}</td>
          <td>${registro.date_x}</td>
        </tr>
      `;
                });

                // Mostrar popup con tabla
                Swal.fire({
                  title: `Detalle ${label}`,
                  width: "800px",
                  html: `
        <h3>${valor}%</h3>

        <div style="max-height:400px; overflow-y:auto;">
          <table border="1" style="width:100%; border-collapse: collapse;">

            <thead style="background:#f2f2f2;">
              <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Telefono</th>
                <th>Fecha</th>
              </tr>
            </thead>

            <tbody>
              ${filas}
            </tbody>

          </table>
        </div>
      `,
                  icon: "info",
                });
              }
            },

            // on click
            responsive: true,
            plugins: {
              title: {
                display: true,
                text: "Detalle de llamada",
              },
              legend: {
                position: "top",
              },
              tooltip: {
                callbacks: {
                  // Agrega el símbolo de % al pasar el mouse por encima
                  label: function (context) {
                    return ` ${context.label}: ${context.raw}%`;
                  },
                },
              },
            },
          },
        });
      }

      // =========================
      // SWITCH FUNCIONES
      // =========================
      const accionSelect = document.getElementById("accion");
      const resultsSection = document.getElementById("results");

      accionSelect.addEventListener("change", manejarVista);

      function manejarVista() {
        const accion = accionSelect.value;

        if (accion === "promass") {
          resultsSection.style.display = "block";
        } else if (accion === "starcredit") {
          resultsSection.style.display = "none";
        } else {
          resultsSection.style.display = "none";
        }
      }

      // ejecutar al cargar
      manejarVista();

      // =========================
      // SUBMIT
      // =========================
      document
        .getElementById("form")
        .addEventListener("submit", async function (e) {
          e.preventDefault();
          // 1. Mostrar mensaje de cargando
          Swal.fire({
            title: "Procesando...",
            text: "Por favor espera mientras se completa la operación",
            allowOutsideClick: false,
            didOpen: () => {
              Swal.showLoading(); // Esto muestra el spinner animado
            },
          });

          // Creando arreglo con la informacion
          const formData = new FormData(this);
          try {
            const response = await fetch("http://127.0.0.1:8000/ejecutar", {
              method: "POST",
              body: formData,
            });

            // Respuesta obtenida
            const data = await response.json();

            // ALERTA CORRECTO
            if (response.status == 200) {
              Swal.fire({
                title: "Éxito",
                text: data.mensaje,
                icon: "success",
                showConfirmButton: true,
              });
            }
            // ALERTA ERROR
            else if (response.status == 404) {
              Swal.fire({
                title: "Error",
                text: data.mensaje,
                icon: "error",
                showConfirmButton: true,
              });
            } else {
              Swal.close();
            }

            // Limpiando inputs
            document.getElementById("archivo").value = "";

            // // DEFINICION PARA MOSTRAR U OCULTAR TABLA
            // if (data.data && Array.isArray(data.data)) {
            //   renderTable(data.data);
            // }
          } catch (error) {
            document.getElementById("resultado").innerText = "Error: " + error;
          }
        });

      // =========================
      // INIT
      // =========================
      cargarPanel();
    </script>
  </body>
</html>
